body {
  background-image: url(https://cdn3.vectorstock.com/i/1000x1000/71/42/world-flags-background-vector-7437142.jpg);
  width: 100%;
  min-height: fit-content;
  background-attachment: fixed;
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 100px;
  text-shadow: 4px 4px 12px #ffff;
}

h4 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 60px;
  text-shadow: 4px 4px 12px #ffff;
}



#formContainer {
  text-align: center;
  justify-content: center;
  display: flex;

}

#countryInputContainer {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  padding: 1px;
  width: 600px;
  
}

.inputElement {
  text-align: center;
  width: 200px;
  height: 100px;
  font-size: 40px;
  border: none;
  flex-grow: 2;
  
}

.inputElement::first-letter {
  text-transform: uppercase;
}

.inputElement:focus {
  outline: none;
}

#countryInputContainer:focus-within {
  outline: 1px solid white;
}

#searchBtn {
  width: 100px;
  cursor: pointer;
  border: 1px solid white;
  background: black;
  color: white;
  
}

#errorMessage {
  color: rgb(227, 227, 3);
 text-align: center;
 font-weight: 900;
 font-size: larger;
}

.countryCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
  
}

.countryCard {
  padding: 10%;
  background-color: #ffff;
  border-style: dashed;
  border-radius: 25px;
  border-width: 5px;
  position: relative;
 
}

.deleteCardBtn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
  color: white;
  width: 45px;
  height: 45px;
  font-size: 25px;
  border-top-right-radius: 22.5px;
  cursor: pointer;
}