.countryInfoCard {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-top: 100px;
    
}

.background-image {
    background-image: url(https://cdn3.vectorstock.com/i/1000x1000/71/42/world-flags-background-vector-7437142.jpg);
    
}


